@model MobileSurveillanceWebApplication.Models.ViewModel.LocalPasswordViewModel

@{
    ViewBag.Title = "Change Your Password";
}



<div class="change-password-form alert alert-success col-lg-5 col-md-5 col-sm-5 col-xs-5 col-md-offset-4">
    @using (Html.BeginForm())
    {
        <h2>Change Your Password</h2>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <fieldset>
            <div class="editor-label">
                @Html.LabelFor(model => model.OldPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(model => model.OldPassword, new { @class = "form-control", @placeholder = "" })
                @Html.ValidationMessageFor(model => model.OldPassword)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.NewPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control", @placeholder = "" })
                @Html.ValidationMessageFor(model => model.NewPassword)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.ConfirmPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", @placeholder = "" })
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </div>

            <div style="float:right">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </fieldset>
    }
</div>

