@model MobileSurveillanceWebApplication.Models.ViewModel.LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/Content/Site.css" type="text/css">
    @*  @Scripts.Render("~/bundles/jqueryui")*@
    @*    @Scripts.Render("~/bundles/modernizr")*@
    @*@Styles.Render("~/Content/themes/base/css")*@

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <script src="~/Scripts/bootstrap.js"></script>
    <title>Mobile Surveillance - Login</title>


</head>
<body id="login-body">
    <div class="row" id="download-android">
        <a href="../DefaultUserData/App/MobileSurveillance.apk">
            <img src="Images/android_download.png" width="200" height="70" />
        </a>
    </div>
    <div style="padding: 100px 0 0 250px;">
        <div id="login-box">

            <h2>Login</h2>
            Mobile Surveillance
            <br />
            <br />
            @if (ViewBag.ErrorMessage != null)
            {
                <div class="error-message">@ViewBag.ErrorMessage</div>
            }
            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @role = "form" }))
            {
                @Html.AntiForgeryToken()
                <fieldset>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @placeholder = "Enter username" })
                        @Html.ValidationMessageFor(model => model.UserName)
                    </div>

                    <div class="editor-field">
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "Enter password" })
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>

                    <div class="editor-field">
                        @Html.EditorFor(model => model.RememberMe)
                        @Html.LabelFor(model => model.RememberMe)
                        @Html.ValidationMessageFor(model => model.RememberMe)
                    </div>

                    <div style="float:right">
                        @Html.ActionLink("Forgot password", "RetrievePassword", "Account", null)
                        @Html.ActionLink("Register", "Register", "Account", null, htmlAttributes: new { @class = "btn btn-primary" })
                        <input type="submit" value="Login" class="btn btn-default" />
                    </div>
                </fieldset>
            }
        </div>
    </div>
</body>
</html>
