@model MobileSurveillanceWebApplication.Models.ViewModel.RegisterViewModel

@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <title>Mobile Surveillance - Register</title>

    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui.datepicker.validation.min.js")">
    </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/DatePickerScript.js")">
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            datetimeController.initializeDatePicker("birthday", new Date(1930, 0, 1), new Date(2010, 11, 31), new Date(1990, 0, 1));
        });
    </script>
</head>
<body id="login-body">
    <div class="row" id="download-android">
        <h3>Mobile Surveillance</h3>
    </div>
    <div class="container" id="container">
        <!-- Main -->
        <div style="padding: 50px 0 ;">
            <div id="" class="alert alert-success" style="border: solid 1px #cccccc; border-radius: 1.5%; width: 470px; height: auto; margin: 0 auto;">
                <h2>Register</h2>
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    <fieldset>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.UserName)
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @placeholder = "Username" })
                            @Html.ValidationMessageFor(model => model.UserName)
                        </div>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Password)
                        </div>
                        <div class="editor-field">
                            @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "Password" })
                            @Html.ValidationMessageFor(model => model.Password)
                        </div>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.ConfirmPassword)
                        </div>
                        <div class="editor-field">
                            @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm password" })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword)
                        </div>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Email)
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Email" })
                            @Html.ValidationMessageFor(model => model.Email)
                        </div>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Fullname)
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.Fullname, new { @class = "form-control", @placeholder = "Fullname" })
                            @Html.ValidationMessageFor(model => model.Fullname)
                        </div>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Gender)
                        </div>
                        <div class="editor-field">
                            @Html.RadioButtonFor(x => x.Gender, "true") Male
                            @Html.RadioButtonFor(x => x.Gender, "false") Female
                            @Html.ValidationMessageFor(model => model.Gender)
                        </div>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Birthday)
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.Birthday, new { @class = "form-control dpDate", @type = "text", @id = "birthday" })
                            @Html.ValidationMessageFor(model => model.Birthday)
                        </div>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Address)
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.Address, new { @class = "form-control", @placeholder = "Address" })
                            @Html.ValidationMessageFor(model => model.Address)
                        </div>
                        @Html.Partial("~/Views/Captcha/DisplayCaptcha.cshtml", new MobileSurveillanceWebApplication.Models.ViewModel.CaptchaViewModel())
                        <div style="float:right">
                            @Html.ActionLink("Already has account. Sign in", "Login", "Account", null, htmlAttributes: new { @class = "btn btn-primary" })
                            <input type="submit" value="Register" class="btn btn-default" />
                        </div>
                    </fieldset>
                }
            </div>

        </div>
        <!-- End of main -->
        <!-- Footer -->
        <div class="row" id="footer">
        </div>
        <!-- End of Footer -->
    </div>
    <!-- Javasript here -->
</body>
</html>
