@model MobileSurveillanceWebApplication.Models.ViewModel.UserViewModel


<script type="text/javascript">
    $(document).ready(function () {
        datetimeController.initializeDatePicker("birthday", new Date(1930, 0, 1), new Date(2012, 11, 31), new Date(1990, 0, 1));
    });
</script>



<div class="col-md-10">

    <div class="page-header">
        <h1> @Model.Fullname</h1>
    </div>
    <div class="row">
        <!--Avatar-->
        <div class="col-sm-6 col-md-4">
            <abbr title="Click here to change your avatar">
                <a href="#" class="thumbnail">
                    <img src="@Model.Avatar" alt="Nang" class="img-thumbnail traject-thumb">
                </a>
            </abbr>
        </div>
        <!--Detail Information-->
        <div class="col-sm-6 col-md-8">
            <div class="alert alert-success">
                <h3>@Model.Fullname</h3>
                <address>
                    <p>
                        <strong>User name: </strong>
                        @Model.Username
                    </p>
                    <p>
                        <strong>Email: </strong>
                        <a href="mailto:#">@Model.Email</a><br />
                    </p>
                    <p>
                        <strong>Birthday: </strong>
                        @Model.Birthday
                    </p>
                    <p>
                        <strong>Address: </strong>
                        @Model.Address
                    </p>
                </address>
            </div>
        </div>
    </div>
    @if (Model.Username == User.Identity.Name)
    {
        <div class="row">
            <a class="btn btn-primary btn-lg" data-toggle="modal" data-backdrop="static" data-target="#editProfile" role="button">Account Setting</a>
        </div>
    }  


    <!--Edit Profile-->
    @using (Html.BeginForm("SaveProfile", "Profile", FormMethod.Post, new { EncType = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="modal fade" id="editProfile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4>Account Setting</h4>
                    </div>
                    <div class="modal-body">
                        <fieldset>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Fullname)
                            </div>
                            <div class="editor-field">
                                @Html.TextBoxFor(model => model.Fullname, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Fullname)
                            </div>

                            @*<div class="editor-label">
                                    @Html.LabelFor(model => model.Password)
                                </div>
                                <div class="editor-field">
                                    @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "Password" })
                                    @Html.ValidationMessageFor(model => model.Password)
                                </div>
                                <div class="editor-label">
                                    @Html.LabelFor(model => model.ConfirmPassword)
                                </div>
                                <div class="editor-field">
                                    @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm password" })
                                    @Html.ValidationMessageFor(model => model.ConfirmPassword)
                                </div>*@
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Address)
                            </div>
                            <div class="editor-field">
                                @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Address)
                            </div>

                            <div class="editor-label">
                                @Html.LabelFor(model => model.Birthday)
                            </div>
                            <div class="editor-field">
                                @Html.TextBoxFor(model => model.Birthday, new { @class = "form-control dpDate", @type = "text", @id = "birthday" })
                                @Html.ValidationMessageFor(model => model.Birthday)
                            </div>

                            <div class="editor-label">
                                @Html.LabelFor(model => model.Avatar)
                            </div>
                            <div class="editor-field">
                                <input type="file" name="avatar" id="avatar">
                            </div>
                        </fieldset>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    <!--End Edit Profile-->
    }
</div>
