@model MobileSurveillanceWebApplication.Models.ViewModel.ListTrajectoryViewModel
@{
    ViewBag.Title = "ListTrajectory";
    var searchUserModel = (MobileSurveillanceWebApplication.Models.ViewModel.TrajectSearchCriteriaViewModel)ViewBag.SearchCriteriaViewModel;
    int count = 0;
    int count1 = 0;

}


<script>
    var currentTraject;
    $(document).ready(function () {
        $(".btn-edit").click(function () {
            var id = $(this).parent().parent().parent().attr('id');
            currentTraject = id;
            $.getJSON("/Trajectory/GetTrajectory", { trajectId: id }, function (data) {
                $("#name").val(data.TrajectoryName);
                $("#description").val(data.Description);
                $("#status").val(data.Status);
            })
        });

    });

</script>


<div>

    @{
        Html.RenderPartial("~/Views/Profile/UserProfile.cshtml", Model.FriendViewModel);
    }

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 filter-trajectory-form">
        @using (Html.BeginForm("ListTrajectory", "Trajectory", FormMethod.Post, new { @role = "search" }))
        {
            <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
                <div class="input-group">
                    <div class="form-group">
                        <input type="text" name="SearchKeyword" class="form-control" placeholder="Search your trajectory" value="@searchUserModel.SearchKeyword">
                        <input type="hidden" name="UserId" value="@searchUserModel.UserId" />
                        <input type="hidden" name="PageNumber" value="1" />
                        <input type="hidden" name="PageCount" value="0" />
                        <input type="hidden" name="DateFrom" value="@searchUserModel.DateFrom" />
                        <input type="hidden" name="DateTo" value="@searchUserModel.DateTo" />
                    </div>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default">Search</button>
                    </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        }

    </div>
    @if (Model.ListTrajectory.Any())
    {
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-primary">
                <!-- Default panel contents -->
                <div class="panel-heading">@(ViewBag.FriendStatus == null ? "My" : "") Trajectories</div>

                @foreach (var item in Model.ListTrajectory)
                {
                    if (ViewBag.FriendStatus == null || (ViewBag.FriendStatus != null && item.Status.Equals("Public", StringComparison.InvariantCultureIgnoreCase)))
                    {
                        <div class="row trajectory-list-item" id="@item.Id">

                            <div class="trajectory-thumail col-lg-5 col-md-6 col-sm-12 col-xs-12">
                                <img src="http://maps.googleapis.com/maps/api/staticmap?center=@item.StartLatitude,@item.StartLongitude&markers=@item.StartLatitude,@item.StartLongitude&zoom=13&size=400x280&sensor=true" alt="Mobile Surveillance">
                            </div>
                            <div class="col-lg-7 col-md-6 col-sm-12 col-xs-12" style="padding: 5px; display: inline-block; margin-left:20px">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 traject-detail " style="font-size: 25px">
                                        @Html.ActionLink(@item.TrajectoryName, "ViewDetail", new { trajectoryId = item.Id })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 traject-detail ">
                                            <b><u>Created on:</u></b> @item.CreateDate
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 traject-detail ">
                                            <b><u>Start from:</u></b> @item.StartAddress at @item.StartTime
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 traject-detail ">
                                            <b><u>Current address:</u></b> @item.EndAddress at @item.EndTime
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 traject-detail ">
                                            <b><u>Last updated:</u></b> @item.LastUpdate
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 ">
                                        <div class="traject-detail">
                                            <b>
                                                <u>
                                                    Description
                                                </u>
                                            </b>
                                            <p style="height: 180px;overflow-y: auto; overflow-x: hidden; padding: 5px;">
                                                @item.Description
                                            </p>
                                        </div>

                                    </div>
                                </div>


                                @if (ViewBag.FriendStatus == null)
                                {
                                    var modalDeleteId = "delete-modal-" + count.ToString();
                                    count++;
                                    var modalEditId = "edit-modal-" + count1.ToString();
                                    count1++;
                                    item.ModalEditId = modalEditId;

                                    <div class="row" style="margin-left:0px;">

                                        <!-- Button trigger modal -->
                                        <button class="btn btn-primary btn-md btn-edit" data-toggle="modal" data-target="#@modalEditId">
                                            <span class="glyphicon glyphicon-pencil"></span> Edit
                                        </button>
                                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#@modalDeleteId">
                                            <span class="glyphicon glyphicon-remove"></span> Delete
                                        </button>

                                        @{
                                    Html.RenderPartial("~/Views/Trajectory/_EditTrajectory.cshtml", item);
                                        }
                                        <div class="modal fade" id="@modalDeleteId">
                                            <div class=" modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                        <h3 class="modal-title">Alert</h3>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p class="modal-delete-alert">Delete "@item.TrajectoryName" trajectory?</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                        @Ajax.ActionLink("Delete", "Delete", new { trajectoryId = item.Id }, new AjaxOptions()
                                                        {
                                                            HttpMethod = "DELETE",
                                                            OnSuccess = "onProductDeleteSuccess",
                                                            OnFailure = "onProductDeleteFailure",
                                                        }, new { @class = "btn btn-primary" })
                                                    </div>
                                                </div><!-- /.modal-content -->
                                            </div><!-- /.modal-dialog -->
                                        </div><!-- /.modal -->

                                    </div>
                                }


                            </div>


                            @{

                            }



                        </div>
                    }
                }
            </div>




            <!-- Pagination-->
            <div class="row" style="text-align: center;clear:both">
                <div style="text-align: left; display: inline-block; /* for ie6/7: */ *display: inline; zoom: 1;">
                    <ul class="pagination">

                        <li>@Html.ActionLink("First", "ListTrajectory", new { SearchKeyword = searchUserModel.SearchKeyword, PageNumber = 1, PageCount = searchUserModel.PageCount, UserId = searchUserModel.UserId, DateFrom = searchUserModel.DateFrom, DateTo = searchUserModel.DateTo })</li>
                        @if (searchUserModel.PageNumber > 1)
                        {
                            <li>@Html.ActionLink("<<", "ListTrajectory", new { SearchKeyword = searchUserModel.SearchKeyword, PageNumber = searchUserModel.PageNumber - 1, PageCount = searchUserModel.PageCount, UserId = searchUserModel.UserId, DateFrom = searchUserModel.DateFrom, DateTo = searchUserModel.DateTo })</li>
                        }
                        @if (searchUserModel.PageCount > 5)
                        {
                            int firstSegmentLength = 3;
                            while (searchUserModel.PageNumber - firstSegmentLength < 0)
                            {
                                firstSegmentLength--;
                            }

                            int lastSegment = searchUserModel.PageNumber + 3;


                            if (lastSegment > searchUserModel.PageCount)
                            {
                                lastSegment = searchUserModel.PageCount;
                            }

                            for (int i = searchUserModel.PageNumber - firstSegmentLength + 1; i < searchUserModel.PageNumber; i++)
                            {
                                <li>@Html.ActionLink((i).ToString(), "ListTrajectory", new { SearchKeyword = searchUserModel.SearchKeyword, PageNumber = i, PageCount = searchUserModel.PageCount, UserId = searchUserModel.UserId, DateFrom = searchUserModel.DateFrom, DateTo = searchUserModel.DateTo })</li>
                            }
                            <li class="active">@Html.ActionLink((searchUserModel.PageNumber).ToString(), "ListUser", new { SearchKeyword = searchUserModel.SearchKeyword, PageNumber = searchUserModel.PageNumber, PageCount = searchUserModel.PageCount, UserId = searchUserModel.UserId, DateFrom = searchUserModel.DateFrom, DateTo = searchUserModel.DateTo })</li>
                            for (int i = searchUserModel.PageNumber + 1; i <= lastSegment + 3 - firstSegmentLength; i++)
                            {
                                <li>@Html.ActionLink((i).ToString(), "ListTrajectory", new { SearchKeyword = searchUserModel.SearchKeyword, PageNumber = i, PageCount = searchUserModel.PageCount, UserId = searchUserModel.UserId, DateFrom = searchUserModel.DateFrom, DateTo = searchUserModel.DateTo })</li>
                            }
                        }
                        else
                        {
                            for (int i = 1; i <= searchUserModel.PageCount; i++)
                            {
                                if (i == searchUserModel.PageNumber)
                                {
                                    <li class="active">@Html.ActionLink((i).ToString(), "ListTrajectory", new { SearchKeyword = searchUserModel.SearchKeyword, PageNumber = searchUserModel.PageNumber, PageCount = searchUserModel.PageCount, UserId = searchUserModel.UserId, DateFrom = searchUserModel.DateFrom, DateTo = searchUserModel.DateTo })</li>
                                }
                                else
                                {
                                    <li>@Html.ActionLink((i).ToString(), "ListTrajectory", new { SearchKeyword = searchUserModel.SearchKeyword, PageNumber = i, PageCount = searchUserModel.PageCount, UserId = searchUserModel.UserId, DateFrom = searchUserModel.DateFrom, DateTo = searchUserModel.DateTo })</li>
                                }
                            }
                        }
                        @if (searchUserModel.PageNumber < searchUserModel.PageCount)
                        {
                            <li>@Html.ActionLink(">>", "ListTrajectory", new { SearchKeyword = searchUserModel.SearchKeyword, PageNumber = searchUserModel.PageNumber + 1, PageCount = searchUserModel.PageCount, UserId = searchUserModel.UserId, DateFrom = searchUserModel.DateFrom, DateTo = searchUserModel.DateTo })</li>
                        }
                        <li>@Html.ActionLink("Last", "ListTrajectory", new { SearchKeyword = searchUserModel.SearchKeyword, PageNumber = searchUserModel.PageCount, PageCount = searchUserModel.PageCount, UserId = searchUserModel.UserId, DateFrom = searchUserModel.DateFrom, DateTo = searchUserModel.DateTo })</li>
                    </ul>
                </div>
            </div>

        </div>
    }
</div>
