@model MobileSurveillanceWebApplication.Models.ViewModel.ListUserViewModel

@{
    ViewBag.Title = "Notification";
    var searchUserModel = (MobileSurveillanceWebApplication.Models.ViewModel.SearchCriteriaViewModel)ViewBag.SearchCriteriaViewModel;
}

<script>
    function onSuccess(response, status, data) {
        window.location = "?SearchKeyword=" + response.SearchKeyword + "&PageNumber=" + response.PageNumber + "&PageCount=" + response.PageCount;
    }


    function onFailure() {
        alert('Something went wrong, please try again!');
    }
</script>

<h2>Notification</h2>

@if (!Model.ListUser.Any())
{
    <div class="alert alert-danger" style="width: 400px;">There is no request friend for you at this time!!</div> 
}

@foreach (var item in Model.ListUser)
{
    <!-- Thumbnail User-->

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
        <div class="list-thumb">
            <div class="row" align="center">
                <img src="@item.Avatar" alt="MobileSurveillance" class="avatar-thumbnail">
            </div>
            <div class="row" align="center">
                <h4>@item.LastLogin</h4>
            </div>
            <div class="row" align="center">
                <h4>@Html.ActionLink(item.Fullname, "ListFriendTrajectory", "User", new { friendId = @item.Id }, htmlAttributes: new { @class = "" })</h4>
            </div>
            <div class="row" align="center">
                <h4>
                    @Ajax.ActionLink("Accept Request", "AddFriend", "SearchResult", new { friendId = @item.Id, requestType = "confirmRequest", SearchKeyword = searchUserModel.SearchKeyword, PageNumber = searchUserModel.PageNumber, PageCount = searchUserModel.PageCount }, new AjaxOptions()
               {
                   HttpMethod = "POST",
                   OnSuccess = "onSuccess",
                   OnFailure = "",
               }
        , new { @class = "label label-primary" })
                
                    @Ajax.ActionLink("Deny Request", "DenyRequest", "SearchResult", new { friendId = @item.Id, requestType = "denyRequest", SearchKeyword = searchUserModel.SearchKeyword, PageNumber = searchUserModel.PageNumber, PageCount = searchUserModel.PageCount }, new AjaxOptions()
               {
                   HttpMethod = "POST",
                   OnSuccess = "onSuccess",
                   OnFailure = "",
               }
        , new { @class = "label label-warning" })
                </h4>
            </div>
        </div>
    </div>
}


